<html>
    <head>
        <link href="stylesheet.css" rel="stylesheet" />
    </head>
</html>

<body>
    <div class="card">
        <img src="city.jpg" alt="Simville">
        <div class="container-2">
            <h4><b>Simville</b></h4>
            <p>Beautiful suburbs</p>
            <p>Breezy weather</p>
        </div>
    </div>
</body>

