@model CityWeather

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Weather Home Page</title>
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>
<body>
    <h1>Weather City</h1>
    <ul>
        <li>@Model.City_Unique_Code</li>
        <li>@Model.City_Name</li>
        <li>@Model.Date_Time</li>
        <li>@Model.TemperatureF</li>
    </ul>
    <br>
    <a href="/">Back to Home</a>
</body>
</html>