
body {
    font-family: 'Lucida Calligraphy', 'Times New Roman';
    background-color: burlywood;
}

.div-form {
    background-color: sandybrown;
    width: 500px;
    padding: 20px, 50px, 20px, 50px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 10px, 10px;
}

.div-form-elements {
    padding: 10px;
}

.div-btn {
    padding: 20px;
}

.div-center1{
    margin: auto;
    padding: 20px;
    width: 200px;
}

.div-horizontal{
    display: inline;
}

.btn-submit {
    background-color: brown;
    width: 300px;
    padding: 10px;
    margin: auto;
    border: double, black;
    border-radius: 20px;
}

.text-center1{
    text-align: center;
}

.nav-bar1{
    background-color: saddlebrown;
}

.nav-element{
    padding: 10px;
}
